---
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon-32x32.png" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>QR code component</title>
	</head>
	<body class="bg-qr-gray">
		<main>
			<section class="flex items-center justify-center h-screen shadow-lg">
				<div class="bg-qr-white p-[1rem] flex flex-col items-center w-[250px] h-[400px] rounded-xl">
					<img class="w-[221px] rounded-xl" src="/image-qr-code.png" alt="Qr code">
					<div class="flex flex-col gap-[1rem] h-[240px] mt-[1rem]">
						<h1 class="text-qr-d-blue font-extrabold text-[1rem] text-center">Improve your front-end skills by building projects</h1>
						<p class="font-normal text-qr-l-gray text-center text-[0.9rem]">Scan the QR code to visit Frontend Mentor and takeyour coding skill to next level</p>
					</div>
				</div>
			</section>
		</main>
	</body>
</html>
